// fonts
$primary-font: 'montserrat', sans-serif;
// colors
$primary-color: #E41021;
$secundary-color: #FFFFFF;
$tertiary-color: #058f49;
$extra-color-one: #3b0409;
$bg-color-one: #f5f6f8;
//text-font-size
$main-text-font-size: 1rem;
$product-text-font-size: 1rem;